*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}
.flex_between{
    justify-content: space-between;
}

.center{
    width: 1000px;
    margin: 20px auto 0 auto;
}
h2{
    font-size: 30px;
    text-align: center;
    padding: 30px 0;
}
.registration_div{
    width: 500px;
}
.login_div{
    width: 300px;
}
.inputs{
    display: block;
    padding: 10px 0;
    width: 100%;
    border: none;
    outline: 1px solid;
}
.labels{
    display: block;
    padding-top: 20px;
    margin-bottom: 5px;
}
.btn_submit{
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background-color: blue;
    color: white;
    border: none;
}
.msg_error{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: none;
}
.msg_completed{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
    border: none;
}
.gender_label{
    margin-top: 10px;
}
.gender{
    display: flex;
    gap: 15px;
    margin: 5px 0;
}
.border_red{
    border: none;
    outline: 1px solid red;
}
